
/* Schedule */
.view-tv-schedules {
  position: relative;
}

/* date nav override */
.view-tv-schedules .date-nav-wrapper {
  margin: 0;
  padding: 5px 6px;
}
.view-tv-schedules .date-nav-wrapper .date-nav {
  position: relative;
}
.view-tv-schedules .date-nav-wrapper .date-heading {
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
}
.view-tv-schedules .date-nav-wrapper .date-heading h3 {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.view-tv-schedules .date-nav-wrapper .date-prev,
.view-tv-schedules .date-nav-wrapper .date-next {
  /*background-color: #f5f5f3;*/
  border-color: #e7e7e1 #e7e7e1 #c5c5b6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #0099d9;
  font-size: 14px;
  min-width: 65px;
  padding: 0;
  text-shadow: none;
  top: 0;
  z-index: 1;
}
.view-tv-schedules .date-nav-wrapper .date-prev:hover,
.view-tv-schedules .date-nav-wrapper .date-next:hover,
.view-tv-schedules .date-nav-wrapper .date-prev:focus,
.view-tv-schedules .date-nav-wrapper .date-next:focus,
.view-tv-schedules .date-nav-wrapper .date-prev:active,
.view-tv-schedules .date-nav-wrapper .date-next:active,
.view-tv-schedules .date-nav-wrapper .date-prev.active,
.view-tv-schedules .date-nav-wrapper .date-next.active,
.view-tv-schedules .date-nav-wrapper .date-prev.disabled,
.view-tv-schedules .date-nav-wrapper .date-next.disabled,
.view-tv-schedules .date-nav-wrapper .date-prev[disabled],
.view-tv-schedules .date-nav-wrapper .date-next[disabled] {
  color: #0099d9;
  background-color: #e7e7e1;
}
.view-tv-schedules .date-nav-wrapper .date-prev:active,
.view-tv-schedules .date-nav-wrapper .date-next:active,
.view-tv-schedules .date-nav-wrapper .date-prev.active,
.view-tv-schedules .date-nav-wrapper .date-next.active {
  background-color: #d0d0c5;
}
.view-tv-schedules .date-nav-wrapper .date-prev:hover,
.view-tv-schedules .date-nav-wrapper .date-next:hover {
  color: #ffffff;
  text-shadow: none;
  background-color: #ffc999;
  border-color: #ff7700 #ff7700 #b35300;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.view-tv-schedules .date-nav-wrapper .date-prev:hover:hover,
.view-tv-schedules .date-nav-wrapper .date-next:hover:hover,
.view-tv-schedules .date-nav-wrapper .date-prev:hover:focus,
.view-tv-schedules .date-nav-wrapper .date-next:hover:focus,
.view-tv-schedules .date-nav-wrapper .date-prev:hover:active,
.view-tv-schedules .date-nav-wrapper .date-next:hover:active,
.view-tv-schedules .date-nav-wrapper .date-prev:hover.active,
.view-tv-schedules .date-nav-wrapper .date-next:hover.active,
.view-tv-schedules .date-nav-wrapper .date-prev:hover.disabled,
.view-tv-schedules .date-nav-wrapper .date-next:hover.disabled,
.view-tv-schedules .date-nav-wrapper .date-prev:hover[disabled],
.view-tv-schedules .date-nav-wrapper .date-next:hover[disabled] {
  color: #ffffff;
  /*background-color: #999999;*/
}
.view-tv-schedules .date-nav-wrapper .date-prev:hover:active,
.view-tv-schedules .date-nav-wrapper .date-next:hover:active,
.view-tv-schedules .date-nav-wrapper .date-prev:hover.active,
.view-tv-schedules .date-nav-wrapper .date-next:hover.active {
  background-color: #cc5f00;
}
.view-tv-schedules .date-nav-wrapper .date-prev:hover a,
.view-tv-schedules .date-nav-wrapper .date-next:hover a {
 /* color: #ffffff;*/
}
.view-tv-schedules .date-nav-wrapper .date-prev a,
.view-tv-schedules .date-nav-wrapper .date-next a {
  /*color: #0099d9;*/
  display: inline-block;
  padding: 3px 5px;
  text-decoration: none;
}
.view-tv-schedules .date-nav-wrapper .date-prev {
  position: absolute;
  left: 0;
}
.view-tv-schedules .date-nav-wrapper .date-next {
  position: absolute;
  right: 0;
}
.view-tv-schedules .date-nav-wrapper .date-nav {
  min-height: 30px;
  margin: 0;
  padding: 0;
}
.view-tv-schedules .date-nav-wrapper .item-list .pager {
  margin-bottom: 0;
}
.view-tv-schedules .date-nav-wrapper .item-list .pager li {
  padding: 0;
}

/* the tv_schedules views */
.view-tv-schedules .view-header {
  /*background-color: #d4d5d7;*/
  border-bottom: 2px solid #ffffff;
  padding: 0;
}
.view-tv-schedules .view-header h3 {
  font-size: 16px;
}
.view-tv-schedules .view-header h3 img.ui-datepicker-trigger {
  cursor: pointer;
  margin: 0 0 0 10px;
}
/* override cm_starterkit theme */
#main .view-tv-schedules h3 img.ui-datepicker-trigger {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.view-tv-schedules .view-header.sticky {
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1030;
}
.view-tv-schedules .view-header.sticky table {
  margin-bottom: 0;
  width: 100%;
}
.view-tv-schedules .view-header.sticky .date-prev,
.view-tv-schedules .view-header.sticky .date-next {
  color: #0099d9;
}
.view-tv-schedules .view-header.sticky .date-prev a,
.view-tv-schedules .view-header.sticky .date-next a {
  color: #0099d9;
  text-decoration: none;
}
.admin-menu .view-tv-schedules .view-header.sticky {
  top: 26px;
}
/*.view-tv-schedules .primetime td {
  background: #f7911e;
}
.view-tv-schedules .current td {
  background-color: #fbd714;
}*/
.page-schedules-day #ui-datepicker-div {
  margin-top: 16px;
}
.view-tv-schedules .calendar-calendar {
  /*background-color: #d4d5d7;*/
  padding-bottom: 15px;
}
.view-tv-schedules .calendar-calendar table,
.view-tv-schedules .view-header.sticky table {
  /*background-color: #e7e7e1;*/
  margin-top: 0;
  width: 100%;
}
.view-tv-schedules .calendar-calendar table th,
.view-tv-schedules .view-header.sticky table th {
  background-color: #0099d9;
  border: none;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px;
}
.view-tv-schedules .calendar-calendar table th:last-child,
.view-tv-schedules .view-header.sticky table th:last-child {
  border-right: none;
}
.view-tv-schedules .calendar-calendar table th a,
.view-tv-schedules .view-header.sticky table th a {
  color: #ffffff;
}
.view-tv-schedules .calendar-calendar table td,
.view-tv-schedules .view-header.sticky table td {
  border: 2px solid #ffffff;
  padding: 10px;
}
.view-tv-schedules .calendar-calendar table td:first-child,
.view-tv-schedules .view-header.sticky table td:first-child {
  border-left: none;
}
.view-tv-schedules .calendar-calendar table td:last-child,
.view-tv-schedules .view-header.sticky table td:last-child {
  border-right: none;
}
.view-tv-schedules .calendar-calendar a,
.view-tv-schedules .view-header.sticky a {
  color: #333333;
}
.view-tv-schedules .calendar-calendar a:hover,
.view-tv-schedules .view-header.sticky a:hover,
.view-tv-schedules .calendar-calendar a:focus .view-tv-schedules .calendar-calendar a:active,
.view-tv-schedules .calendar-calendar a:focus .view-tv-schedules .view-header.sticky a:active,
.view-tv-schedules .view-header.sticky a:focus .view-tv-schedules .calendar-calendar a:active,
.view-tv-schedules .view-header.sticky a:focus .view-tv-schedules .view-header.sticky a:active {
  text-decoration: underline;
}
.view-tv-schedules .calendar-calendar .calendar,
.view-tv-schedules .view-header.sticky .calendar {
  width: auto;
}
.view-tv-schedules .calendar-calendar .calendar-dayview-hour,
.view-tv-schedules .view-header.sticky .calendar-dayview-hour,
.view-tv-schedules .calendar-calendar .calendar-agenda-hour,
.view-tv-schedules .view-header.sticky .calendar-agenda-hour {
  font-size: 16px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}
.view-tv-schedules .calendar-calendar .calendar-agenda-items,
.view-tv-schedules .view-header.sticky .calendar-agenda-items {
  text-align: left;
}

